* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

p, h1 {    margin-bottom: 1em;

}

a {
    text-decoration: none; 
    color: currentColor;
}

a:visited {
    color: currentColor;
}

a:hover {
    color: darkslategrey;
}


td, .left {
    text-align: left;
}

ul, ol {
    list-style: none;
}

li {
    display: inline;
}

li a {
    display: block;
}